*{
  margin: 0;
  padding: 0;
}
/* styles.css */

/* Common styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

h2 {
  color: #333;
  margin-top: 20px;
}

/* AddFields Component styles */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
select,
button {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* DisplayFields Component styles */
h3 {
  margin-top: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

